<p id="notice"><%= notice %></p>

<h1>Artistes</h1>


  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Retour', arts_path %></button>
    </div>
  </div>
  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Nouvel artiste', new_artist_path %></button>
    </div>
  </div>


    <% @artists.each do |artist| %>

<div class="container">
  <div class="row mb-2">
        <div class="col-md-8 ">
      <div class="jumbotron text-white rounded bg-dark">
        <div class="col-md-12 px-0">
          <h1 class="display-4 font-italic"><%= artist.last_name %></h1>
          <p class="lead my-3"><%= artist.first_name %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">


  </div>
    <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Modifier', edit_artist_path(artist) %></button>
    </div>
  </div>

</div>
</div>

<% end %>



</div>