<p id="notice"><%= notice %></p>

<p>
  <strong>Prénom:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @artist.last_name %>
</p>

<%= link_to 'Modifier', edit_artist_path(@artist) %> |
<%= link_to 'Retour', artists_path %>
