
<%= simple_form_for(@type) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate="">
        <div class="row">
 			<div class="form-inputs">
		          <div class="col-md-10 mb-3">
		            <label for="type"><%= f.input :type_name %></label>
		            <div class="invalid-feedback">
		              Valid type is required.
		            </div>
		          </div>
		      </div>
			  <div class="col-md-10 mb-3">
  				<div class="form-actions">
    				<button class="btn btn-sm btn-outline-secondary" ><%= f.button :submit %></button>
 				 </div>
			  </div>
        </div>
 </div>
<% end %>