<p id="notice"><%= notice %></p>

<h1>Types< d'oeuvre</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.type_name %></td>
        <td><%= link_to 'Montrer', type %></td>
        <td><%= link_to 'Modifier', edit_type_path(type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nouveau type d'oeuvre", new_type_path %>
