<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Image:</strong>
  <a> <%= @art.picture %> </a>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Artiste:</strong>
  <%= @art.artist %>
</p>

<p>
  <strong>Type:</strong>
  <%= @art.type %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @art.emotion %>
</p>



  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Modifier', edit_art_path(@art) %></button>
    </div>
  </div>

  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Retour', arts_path %></button>
    </div>
  </div>


 |


