<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Image:</strong>
  <img scr='<%= @art.picture %>'>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Artiste:</strong>
  <%= @art.artist %>
</p>

<p>
  <strong>Type:</strong>
  <%= @art.type %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @art.emotion %>
</p>

<%= link_to 'Modifier', edit_art_path(@art) %> |
<%= link_to 'Retour', arts_path %>
